body{
    font-family: 'Roboto', sans-serif;
    animation: fade 0.5s;
    background-color: black;
}
h1{
    color: white;
}
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
.quick-access{
    position: fixed;
    left: 0;
}
.quick-access h1{
    font-size: 25px;
    position: relative;
    left: 10px;
}
.content img{
    border: 5px solid black;
    transition: all 0.5s;
    width: 252px;
    height: 168px;
}
.content a :hover{
    transform: scale(1.10);
}
.contact{
    position: fixed;
    margin-left: 1000px;
    text-align: right;
    display: flex;
    flex-flow: column;
}
.contact img {
    border: 5px solid black;
    transition: all 0.5s;
    width: 10%;
    height: 10%;
}
.contact a :hover{
    transform:scale(1.10);
}
.all a{
    text-decoration: none;
    color: white;
}
.about-amd p{
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: left;
}
.CPU p, .GPU p{
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}
.details{
    text-align: center;
}
.details-2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: left;
}
.details-2 p{
    margin-left: 10px;
}
.end a{
    border: 5px solid white;
    background-color: black;
    color: white;
    transition: all 0.5s;
    font-size: 50px;
}
.end a:hover{
    color: black;
    background-color: white;
    border: black;
    transform: scale(1.15);
}
